<?xml version="1.0"?>
<!--
/**
 * DPD DelisPrintExport configuration
 *
 * @author Michiel Van Gucht
 */
-->
<config>
    <modules>
        <Dpd_Delisprintexport>
            <version>0.1.2</version>
        </Dpd_Delisprintexport>
    </modules>
    
    <global>
	       <models>
                <delisprintexport>
		            <class>Dpd_Delisprintexport_Model</class>
	            </delisprintexport>
	       </models>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dpd_Delisprintexport after="Mage_Adminhtml">Dpd_Delisprintexport</Dpd_Delisprintexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <dpd_delisprintexport_addmassaction_observer>
		                <type>singleton</type>
                        <class>Dpd_Delisprintexport_Model_Observer</class>
                        <method>addMassAction</method>
                    </dpd_delisprintexport_addmassaction_observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>
